
<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed">

    <div class="am-u-md-8 am-u-sm-12">

      <% @articles.each do |article| %>
        <article class="am-g blog-entry-article">
            <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">
                <a href="/articles/<%= article.id %>" target="_blank"><%= image_tag article.cover_img_path ,:class=>"am-u-sm-12" %></a>
            </div>
            <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">
                <span><a href="/articles/<%= article.id %>" class="blog-color">article &nbsp;</a></span>
                <span> <%= article.user_name %> &nbsp;</span>
                <span><%= show_db_time(article.created_at) %></span>
                <h1><a href="/articles/<%= article.id %>"><%= article.title %></a></h1>
                <p><%= article.min_show %></p>
                <p><a href="/articles/<%= article.id %>" class="blog-continue">continue reading</a></p>
            </div>
        </article>
      <% end %>

      <%= paginate @articles %>

    </div>

    <%= render '/shared/article/right' %>
    
</div>
<!-- content end -->


