<style>
  .clearfix{
    clear: none;
  }
</style>
<%= form_for @vendor, url: url, method: meth, :html => { :multipart => true,:class => "am-form" } do |f| %>
 
  <div class="am-form-group am-form-file" style="margin-left: 20px;">
    <button type="button" class="am-btn am-btn-default am-btn-sm">
      <i class="am-icon-cloud-upload"></i> 选择要上传的文件</button>
    <input type="file" name="draft_img" id="draft_img" multiple>
    <span class="upload_text J_upload_text"></span>
    <span class="upload_text j_upload_tip" style="color:red"></span>
  </div>

  <div style="margin-left: 20px;">
     <font color="#f2b244">Schooltop儿童教育分享平台，只要您是致力于儿童教育的企业，欢迎您联系我们，免费提供展示服务。</font>
  </div>

  <div class="am-form-group am-form-select" style="margin: 20px;" >
    <div class="controls">
      <%= f.label :category, '类别', class: 'am-form-label' %>
      <%= f.select :category_id, options_for_select(Category.all.collect { |p| [ p.name, p.id ] }, @vendor.category_id), {include_blank: true}, {class: 'am-form-field ui dropdown', style: 'width: 70%;' } %>
    </div>
    <div class="controls">
      <%= f.label :name, '公司名称', class: 'am-form-label' %>
      <%= f.text_field :name, class: 'am-form-field', style: 'width: 70%;' %>
    </div>
  </div>

  <div class="am-form-group ui form" style="margin: 20px;" >
    <div class="controls">
      <%= f.label :mobile, '电话', clsas: 'am-form-label' %>
      <%= f.text_field :mobile, class: 'am-form-field', style: 'width: 70%;' %>
    </div>
    
    <div class="controls">
      <%= f.label :address, '地址', class: 'am-form-label' %>
      <%= f.text_field :address, class: 'am-form-field', style: 'width: 70%;' %>
    </div>
  </div>

  <div class="am-form-group ui form" style="margin: 20px;" >
    <div class="controls">
      <%= f.label :email, '邮箱', class: 'am-form-label' %>
      <%= f.text_field :email, class: 'am-form-field', style: 'width: 70%;' %>
    </div>
    
    <div class="controls">
      <%= f.label :website, '网址', class: 'am-form-label' %>
      <%= f.text_field :website, class: 'am-form-field', style: 'width: 70%;' %>
    </div>
    
  </div>

  <div class="am-form-group" style="margin: 20px;" >
    <div class="controls">
      <%= f.label :content, '简介', class: 'am-form-label' %>
      <%= text_area_tag 'vendor[content]', @vendor.content ,:style=>"width:100%;height:300px;", class: 'am-form-field'  %>
    </div>
  </div>
  
  <div class="actions" style="margin-left: 20px;color:#2185D0 ">
    <%= f.submit '提交', class: 'am-btn am-btn-primary ' %>
  </div>
<% end %>


<% content_for :scripts do %>
  <%#= javascript_include_tag 'wangEditor.min' %>
  <%#= stylesheet_link_tag 'wangEditor.min' %>
  <script>
    // //富文本编辑器初始化
    // var editor = new wangEditor('vendor_content');
    // //图片上传配置
    // editor.config.uploadImgUrl = "/vendors/upload_image";
    // editor.config.uploadImgFileName = "wang_editor_file"
    // editor.config.uploadHeaders = {
    // 'Accept' : 'text/x-json',
    // 'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
    // };
    // editor.create();
    // editor.$editorContainer.css('z-index', 0);

    $('#draft_img').change(function(event) {
      var str = $(this).val();
      if (str != "") {
          var names = str.split("\\");
          $('.J_upload_text').html(names[names.length - 1])
      }
      $(".j_upload_tip").html('')
    });


  </script> 


<% end %>

