<% if @category.errors.blank? %>
  $("#category_<%= @category.id %>").replaceWith("<%= j(render partial: 'list', locals: { category: @category} ) %>");
  $("#category_modal").modal('hide');
<% else %>
  $(".field .red.pointing").remove();
  <% @category.errors.messages.each do |key, value| %>
    $("#category_<%= key %>").parent().addClass('error');
    $("#category_<%= key %>").parent().append("<div class='ui basic red pointing prompt label transition visible'><%= value[0] %></div>");
  <% end %>
<% end %>

$(".button").popup();
$(".icon").popup();
$(document).find('.dropdown').dropdown({
    on: 'hover'
});
