<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>schooltop | 3color244</title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="schooltop"/>
  <meta name="msapplication-TileColor" content="#0e90d2">
  
  <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
    <script src="//cdn.bootcss.com/placeholders/4.0.1/placeholders.jquery.min.js"></script>
    <script>
      $(function(){
        $('input[type=text][placeholder], input[type=password][placeholder], textarea[placeholder]').placeholder();
      })
    </script>
    <![endif]-->
  <%= stylesheet_link_tag 'user_center' %>
  <%= javascript_include_tag 'user_center' %>
</head>

<body data-type="index">
    <header class="am-topbar am-topbar-inverse admin-header">
       <%= render '/shared/center/top' %> 
    </header>

    <div class="tpl-page-container tpl-page-header-fixed">

      <%= render '/shared/center/left' %> 
      <%= yield %>

    </div>

</body>

</html>
